<div class="input-group">
    <input class="input"
           type="{{type}}"
           id="{{id}}"
           name="{{name}}"
           {{#if value}}value="{{value}}"{{/if}}
           {{#if required}}required{{/if}}
           placeholder=" ">
    <label class="input-label" for="{{id}}">{{label}}</label>
</div>
