<main>
    {{{header}}}
    {{{backButton}}}
    <div class="profile-container">
        <span class='text-error'>{{{errorMessage}}}</span>
        {{{avatarBlock}}}
        {{{avatarForm}}}
        <h2>{{title}}</h2>
        {{{form}}}
        {{{changePasswordLink}}}
        {{{link}}}
    </div>

</main>


