<main>
    {{{header}}}
    {{{backButton}}}
    <div class="profile-container">
        {{{avatarBlock}}}
        <h2>{{title}}</h2>
        {{{form}}}
        {{{changePasswordLink}}}
        {{{link}}}
    </div>
    {{{blockLinks}}}

</main>


