<div class="user-info-item">
    <img class="user-info-avatar" src="{{{user.avatar}}}" alt="{{{user.login}}}">
    <label class="user-info-label">
        <input id="{{{user.id}}}" name="{{{user.id}}}"   type="checkbox" class="user-info-checkbox">
        <span>{{{user.login}}}</span>
    </label>
</div>